@import "tailwindcss";

*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
  color: white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}